<div class="flex min-w-0 flex-auto flex-col">
  <!-- Header -->
  <div
    class="bg-card flex flex-0 flex-col border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
  >
    <div class="min-w-0 flex-1">
      <div class="flex items-center font-medium text-gray-500">
        <mat-icon class="mr-2">language</mat-icon>
        WordPress & CMS
      </div>
      <div class="mt-2">
        <h2
          class="truncate text-3xl font-extrabold leading-7 sm:leading-10 md:text-4xl"
        >
          WordPress
        </h2>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-auto p-6 sm:p-10">
    <div class="prose prose-sm max-w-3xl mx-auto">
      <h3>Initiation</h3>
      <p>
        Formé en 2020 par l’expert français <strong>Grégoire Noyelle</strong>,
        j’ai développé une solide maîtrise de WordPress, de la création
        de thèmes sur-mesure à l’élaboration de plugins avancés.
      </p>

      <h3>Réalisations pratiques</h3>
      <ul>
        <li>
          Environ <strong>10 sites</strong> déployés pour des clients, des
          associations et des projets personnels.
        </li>
        <li>
          Thèmes personnalisés intégrant PHP, hooks et WP REST API.
        </li>
        <li>
          Plugins sur-mesure pour fonctionnalités spécifiques
          (formulaires, intégrations externes, optimisations SEO).
        </li>
      </ul>

      <h3>Évolution vers les thèmes « Blocs »</h3>
      <p>
        L’an dernier, je me suis formé aux tous nouveaux formats de
        <em>Full Site Editing</em> et aux thèmes basés sur des blocs
        JavaScript / PHP.
      </p>

      <p>
        Cette nouvelle approche des thèmes wordpress modernes ouvre la voie à des interfaces
        plus modulaires et dynamiques car chaque bloc est compilé indépendemment, modifiable et réutilisable.
      </p>

    </div>
  </div>
</div>
