<div class="flex min-w-0 flex-auto flex-col">
  <!-- Header -->
  <div
    class="bg-card flex flex-0 flex-col border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
  >
    <div class="min-w-0 flex-1">
      <div class="flex items-center font-medium text-gray-500">
        <mat-icon class="mr-2">speaker_phone</mat-icon>
        IoT & Domotique
      </div>
      <div class="mt-2">
        <h2
          class="truncate text-3xl font-extrabold leading-7 sm:leading-10 md:text-4xl"
        >
          IoT & Domotique
        </h2>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-auto p-6 sm:p-10">
    <div class="max-w-4xl mx-auto py-12 space-y-8 prose prose-lg">
      <!-- Introduction -->
      <h1 class="text-4xl font-extrabold">Introduction à l’IoT & Domotique</h1>

      <p>
        Électricien de formation, j’ai eu la chance d'aborder des sujets techniques variés&nbsp;:
        régulation de tunnels, hôpitaux, relais 4G/5G, et installations dans des villas
        haut de gamme sur la Côte d’Azur.
      </p>

      <p>
        J’ai pu utiliser les systèmes domotiques propriétaires (THEBIS de Hager), puis les
        gammes plus ouvertes (Legrand/Google Home), et enfin un grand nombre de produits
        Chinois (Tuya).
      </p>

      <p>
        Cette fragmentation du marché m'a donné envie de produire une solution transversale, permettant l'integration libre de tout type de produits.
      </p>

      <h2 class="text-2xl font-semibold">Projets clés</h2>
      <ul>
        <li>Contrôleur LED custom, intégrable partout</li>
        <li>Station de mesure d’air (avec diffusion d’odeurs)</li>
        <li>Intégrations Home Assistant (SoundCloud, RSS, automatisations)</li>
        <li>UI/UX sur-mesure pour Home Assistant</li>
        <li>Reverse-engineering de firmwares chinois</li>
      </ul>

      <div class="text-center mt-8">
        <button mat-flat-button color="primary" routerLink="hardware">
          Suivant : Hardware
        </button>
      </div>
    </div>
  </div>
</div>
